
@{
    ViewBag.Title = "_AuthHeader";
}

<style>
    
    .header {
        padding: 10px 20px; 
        display: flex;
        align-items: center;
    }

        .header img {
            height: 50px; 
        }
</style>


    <div class="header" >
        <a href="/" ><img src="/images/logoAG3.png"/></a>
    </div>
