@using BikeRental.Web.Extension

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Index";
}


<div class="container">
    <h1>Hello to admin panel, @System.Web.HttpContext.Current.GetMySessionObject().Name!</h1>
</div>

