@using BikeRental.Web.Extension

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2>Account Page</h2>

    <pre>
Hello @System.Web.HttpContext.Current.GetMySessionObject().Name
</pre>
</div>


